<h2>Show club</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @club.title %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @club.description %>
  </li>

</ul>

<%= link "Edit", to: club_path(@conn, :edit, @club) %>
<%= link "Back", to: club_path(@conn, :index) %>
