<table class="table">
  <tbody>
<%= for run <- @runs do %>
    <tr>
      <td><%= link "#{run.time}", to: run_path(@conn, :show, run) %></td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "Schedule a New Run", to: run_path(@conn, :new), class: "btn btn-default btn-xs" %>
