.jumbotron
  %h2= gettext "Welcome to %{name}", name: "Local Corrals" 
  %p.lead Helping bring athletes together
    .signup
      %h3 
        %button.btn.btn-info Sign Up For Free
      %h3 
        %button.btn.btn-primary Login

.row.marketting
  .col-lg-6
  .col-lg-6
